Future dated obligation for change to how audience is set for Data Recipients calling Data Holders

# Description
In v.1.4.0 of the standards the Client Authentication for Data Recipients calling Data Holders changed the statement on how the audience is set to:
_aud: The Token Endpoint URL._

In prior versions this had stated:
_aud: The URL of the end point being invoked._

This change was a result of the issue - https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/169

As existing Data Recipients and Data Holders have implemented to the prior statement a agreed transition time is required.

# Area Affected
How the aud claim is set in the section 'Data Recipients calling Data Holders': https://consumerdatastandardsaustralia.github.io/standards/#client-authentication

# Change Proposed
ANZ proposes that a future dated obligation is added to cover this change. The February 2021 release would appear appropriate, but this would need to be confirmed with other participants.


@anzbankau For clarity, Holders deliberately diverged from the international spec, followed a clearly ambiguous statement and are now expecting an `aud` which is explicitly their `issuer` (vs. /token **or** issuer)?

And now Recipients are hardwiring `aud`'s (or using issuer and hoping it gets past) so they can **actually** use the tokens being handed back? 

Why didn't ANZ comment on the item it opened and which sat there unactioned for 4 months?



I'm somewhat confused by what the situation actually is now

I strongly suggest that the Australian standards respect the intent of the spec authors and the IETF OAuth working group, although the history is a little muddy because https://tools.ietf.org/html/rfc7523 came into existence before the OAuth server meta data (i.e. discovery) document came into existence, and also because https://tools.ietf.org/html/rfc7523 did not entirely anticipate the use of client assertions at endpoints other than the token endpoint.

The latest thoughts of the IETF working group can be seen in https://tools.ietf.org/html/draft-ietf-oauth-par-04#section-2 (a document that's been in working group last call for a while now, so is pretty stable and has the blessing of much of the working group). Namely:

```
   Due to historical reasons there is potential ambiguity regarding the
   appropriate audience value to use when employing JWT client assertion
   based authentication (defined in Section 2.2 of [RFC7523] with
   "private_key_jwt" or "client_secret_jwt" authentication method names
   per Section 9 of [OIDC]).  To address that ambiguity the issuer
   identifier URL of the authorization server according to [RFC8414]
   SHOULD be used as the value of the audience.  In order to facilitate
   interoperability the authorization server MUST accept its issuer
   identifier, token endpoint URL, or pushed authorization request
   endpoint URL as values that identify it as an intended audience.
```

This text can sensibly be taken as inspiration on how to interpret the text in RFC7523 about what audience to use at the token endpoint.

Unfortunately many of the suggestions here (and I think the current text) would make Australian CDR servers inoperable with clients using pushed authorization requests and following the recommendations in the PAR spec on what aud should be used at the PAR endpoint.

I would suggest CDR aligns to the above text, to avoid interoperability problems. As I believe the text requires servers to accept the aud values that CDR currently and historically suggested, the change is backwards compatible and can be adopted speedily.

NAB has built to DSB v1.3.1 (table 1.0 below) of the standards.  Given the close proximity to the November implementation, we require clarification immediately on DSB v1.5.1 (table 2.0 below).
 
Table 1.0 (aligns to DSB v1.3.1)

No.  | Endpoint | Expected aud value
-- | --------- | --------------------
1 | Registration   endpoint | issuer URL
2 | Token   endpoint | token endpoint URL
3 | Revoke   endpoint | revoke endpoint URL
4 | Introspect   Endpoint | Introspect endpoint URL


Table 2.0 (aligns to DSB v1.5.1)

No.  | Endpoint | Expected aud value
-- | --------- | --------------------
1 | Registration-endpoint | issuer URL
2 | Token   endpoint | Token endpoint URL
3 | Revoke   endpoint | Token endpoint URL
4 | Introspect   endpoint | Token endpoint URL
5 | CDR Arrangement  Revocation End Point  | Token endpoint URL
6 | PAR   endpoint | Token endpoint URL

NAB believes the suggested wording (as below) from the [Maintenance Iteration 5 consultation meeting](https://github.com/ConsumerDataStandardsAustralia/standards/wiki/DSB-Maintenance-Iteration-5:-Iteration-Scope-Review:-Agenda-&-Meeting-Notes-(7th-October-2020)) held on 7th-Oct-2020 is still ambiguous and open to interpretation.
 
*“aud: The issuer identifier URL of the authorization server according to [RFC8414] SHOULD be used as the value of the audience. In order to facilitate interoperability the authorization server MUST accept its issuer identifier and the URI of the end point being called as values that identify it as an intended audience.”*

If the expectation is to accept issuer identifier **OR** the **URL** of the endpoint being called, the above wording must be explicit to say **"issuer identifier, or URL of the endpoint being called"** 


I'm not really following any of the reasoning here. At the risk of repeating my previous comment, the PAR standard requires that the client assertion presented at the PAR endpoint is accepted when the aud is the issuer **OR** the token endpoint **OR** the par endpoint. I haven't seen anything that explains why it would be desirable to deviate from the underlying standard?

Thanks all, this issue was discussed on the maintenance iteration call [held on 7/10/2020](https://github.com/ConsumerDataStandardsAustralia/standards/wiki/DSB-Maintenance-Iteration-5:-Iteration-Scope-Review:-Agenda-&-Meeting-Notes-(7th-October-2020)).

The change that was previously made to the data standards was prior to the PAR endpoint being introduced and no future dated obligation was identified. As such, it made sense at the time however it has implications where the audience claim wouldn't be correctly set for the PAR endpoint.

@jogu, noting the previous comment you provided (thank you), the PAR documentation could be interpreted as suggesting any applicable endpoint would need to accept both the token endpoint URL _and_ the pushed authorisation request endpoint URL as valid aud claims although it is understood that this is not the intention (i.e. Token endpoint must accept the aud=token endpoint URL and the PAR end point should accept the aud=PAR end point URL) 
> MUST accept its issuer identifier, token endpoint URL, or pushed authorization request endpoint URL as values

The change proposed on the call was to include the following update so the standards are clearly in line with the PAR documentation you mention @jogu but at the same time remove the ambiguity:
> aud: The issuer identifier URL of the authorization server according to [RFC8414] SHOULD be used as the value of the audience. In order to facilitate interoperability the authorization server MUST accept its issuer identifier and the URI of the end point being called as values that identify it as an intended audience.

Noting although this is understood to be minor, this may have implementation impacts  to existing builds, DHs should comment on any anticipated build impact to consider.

@NationalAustraliaBank, removing ambiguity is definitely desirable, however the statement clearly states that DHs must support both the issuer identifier AND the URI of the end point being called. Changing this statement to be "OR" may suggest that DHs can choose to support either but not both.


@CDR-API-Stream 

> @jogu, noting the previous comment you provided (thank you), the PAR documentation could be interpreted as suggesting any applicable endpoint would need to accept both the token endpoint URL _and_ the pushed authorisation request endpoint URL as valid aud claims

That is the correct interpretation, as far as the token endpoint url goes. All endpoints would accept the issuer, the token endpoint and the endpoint url as aud.

> although it is understood that this is not the intention (i.e. Token endpoint must accept the aud=token endpoint URL and the PAR end point should accept the aud=PAR end point URL)

I think the intention has been misunderstood - if you extend the statement in the PAR case to the general case, you would extend it as follows:

PAR endpoint: accepts issuer, **or token endpoint**, or PAR endpoint as aud.

revocation endpoint: accepts issuer, **or token endpoint**, or revocation endpoint as aud.

It may be the quote I made of the standard makes less sense when taken out of context - to read in context here's the link: https://tools.ietf.org/html/draft-ietf-oauth-par-04#section-2 - similarly the CIBA spec includes a similar case, https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html#rfc.section.7.1 for the Backchannel Authentication Endpoint:

>    Due to historical reasons there is potential ambiguity regarding the
>    appropriate audience value to use when employing JWT client assertion
>    based authentication (defined in Section 2.2 of [RFC7523] with
>    "private_key_jwt" or "client_secret_jwt" authentication method names
>    per Section 9 of [OIDC]).  To address that ambiguity the issuer
>    identifier URL of the authorization server according to [RFC8414]
>    SHOULD be used as the value of the audience.  In order to facilitate
>    interoperability the authorization server MUST accept its issuer
>    identifier, token endpoint URL, or pushed authorization request
>    endpoint URL as values that identify it as an intended audience.

There are various reasons for including the token endpoint url, for example the majority of libraries that produce client assertions use the token endpoint as audience, and much of the previous oauth & oidc specifications explicitly refer to using the token endpoint.

To be 100% clear, I'm talking about this proposed text here:

> aud: The issuer identifier URL of the authorization server according to [RFC8414] SHOULD be used as the value of the audience. In order to facilitate interoperability the authorization server MUST accept its issuer identifier and the URI of the end point being called as values that identify it as an intended audience.

which does not mention the token endpoint, and but AS does need to accept the token endpoint as aud for the client assertion at all endpoints.

@jogu Thanks for clarifying the intended language.
> Note that there's some potential ambiguity around the appropriate audience value to use when JWT client assertion based authentication is employed. To address that ambiguity the Issuer Identifier of the OP SHOULD be used as the value of the audience. **In order to facilitate interoperability the OP MUST accept its Issuer Identifier, Token Endpoint URL, or Backchannel Authentication Endpoint URL as values that identify it as an intended audience.**

For historical reference, this is [exactly what I quoted](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/169#issuecomment-606367394) in one of my original responses 31 March:

![image](https://user-images.githubusercontent.com/4291448/96256307-c3bbba00-0ffb-11eb-86a4-63460f8e15d5.png)

Can't say I didn't try!


Thanks all for the helpful inputs on this topic. We would like to highlight that the intention of this change request is to manage the transition from the pre v1.4.0 statement to v1.4.0 as this has implementation impacts that need to be coordinated across participants. Given the discussion in this thread we propose that the v1.4.0 change is removed for now.

The proposed updated statement from DSB:
_aud: The issuer identifier URL of the authorization server according to [RFC8414] SHOULD be used as the value of the audience. In order to facilitate interoperability the authorization server MUST accept its issuer identifier and the URI of the end point being called as values that identify it as an intended audience._ 

Also has implementation impacts and would need a future date obligation to make clear when participants can expect this behaviour. We also note that further changes to this statement are being actively discussed in this thread. 

Stu, 

Thanks for the comments. The intention here is to align to the normative standards so I think we're all on the same page. You put forward the suggestion for the Token Endpoint URL in the current version of the standards and you were also on the maintenance call recently where we discussed correcting this to align to the underlying standards with the change in wording proposed. 
>Suggest this is improved to The Token Endpoint URL or a direct reference to the SHOULD statement in underlying spec. Given the discussion my personal preference would be for the DSB to explicitly declare this must be the token endpoint.

The proposed correction was discussed on the [maintenance call](https://github.com/ConsumerDataStandardsAustralia/standards/wiki/DSB-Maintenance-Iteration-5:-Iteration-Scope-Review:-Agenda-&-Meeting-Notes-(7th-October-2020)) and you had suggested that the statement originally posted in this thread referencing the PAR end point was not the intention of the RFC author. 
 
> Discussed the updated statement based on the newly published PAR draft RFC wording
> This statement has ambiguity (it can imply that the aud = Token End Point URL would be acceptable when a call is made to the PAR endpoint and vice versa. This is not the intention of the RFC author)

@jogu has cleared up the interpretation so it looks like there is a clear way forward. I appreciate how valuable your input is and your contribution to making the standards better for everyone. Can we please focus on agreeing on the wording that can be adopted.

Hi @jogu thanks for clearing up. Yes, the intention had been misunderstood. Given the clarification, Token Endpoint URL can be included in the proposed statement:

> aud: Identifies the recipients that the JWT is intended for. The issuer identifier URL of the authorisation server according to [RFC8414] SHOULD be used as the value of the audience. In order to facilitate interoperability the authorisation server MUST accept its Issuer Identifier, Token Endpoint URL, or the URI of the end point being called as values that identify it as an intended audience.

In the CIBA spec, [section 7.1.1.](https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html#rfc.section.7.1.1) constrains this to only the Issuer Identifier. Do you (or anyone else) have any further proposed changes to the statement above to accommodate those constraints? 

Hi @anzbankau, thanks for your comments. Rather than reverting to the previous version of the standards, it would be preferred that we can better align to agreed wording inline with the normative references. 

Can you please comment on what implementation impact is expected to your current build to accept each of Issuer Identifier, Token Endpoint URL and the URI of the end point being called?

@CDR-API-Stream 

> In the CIBA spec, section 7.1.1. constrains this to only the Issuer Identifier. Do you (or anyone else) have any further proposed changes to the statement above to accommodate those constraints?

This is another source of confusion.

All the above discussion on this GitHub issue is, I believe, about the client authentication assertion's aud value (certainly that is what is mentioned in the original ticket discussion). I think this section of the CDR specification document may need to be updated to make it clearer that it is talking about the aud for the client authentication assertion.

The 'aud' value for any JWS being presented in a payload is a separate matter. In most cases the 'aud' value used here is better defined in the upstream specifications - e.g. the aud for a request object (whether that request object is being passed to the CIBA endpoint, PAR endpoint or Authorization Endpoint) is I think always the issuer url. [Though I'm not up to date on how CDR is doing client registration.]

Or to be very explicit and explain from a different angle - at some of the endpoints there are two signed JWTs being presented (the client authentication assertion as per private_key_jwt and the actual payload also in a JWT), and the rules for 'aud' differ between the two JWTs.

> The 'aud' value for any JWS being presented in a payload is a separate matter. In most cases the 'aud' value used here is better defined in the upstream specifications - e.g. the aud for a request object (whether that request object is being passed to the CIBA endpoint, PAR endpoint or Authorization Endpoint) is I think always the issuer url. [Though I'm not up to date on how CDR is doing client registration.]

@jogu In CDR Registration the payload to `/register` has an `aud` of the issuer and the SSA encapsulated within the `/register` has no `aud`.


The DSB attended the ACCC Test Working Group (21/10/2021) and in this call it was identified that current consumer data sharing participants continue to implement the audience claim as per v1.3.1 of the standards. This would leave participants in a non-compliant state. In the interest of a resolution that can support consumer data sharing participants transitioning through November go-live to an agreed target state, the DSB would like to receive feedback from impacted participants whether they support treating this issue as "urgent".

Yes we support the change of reverting the audience claim to the v1.3.1 statement as urgent. Subsequent to this, further consultation and a possible future dated obligation can be made to change how this is set.

Regional Australia Bank considers this an urgent issue. From a DR perspective, we at least need to know during what window of time we would be able to transition our code base from the current standard to the next without connectivity impacts.

In general it is not clear that all participants in the [#169](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/169) are discussing the same scope, and there is clearly some confusion. Furthermore we can't find in #169 or in the Maintenance Iteration notes a recorded rationale for the decision to adopt the proposal.

In our opinion, more important than being resolved quickly, this decision needs a clear rationale with concrete references to the underlying specifications, as well as a scope of indirect implementation changes that emerge as a result (i.e. this applies to revocation, introspection and arrangement management endpoints), before an obligation should be placed on participants to implement the change.

We support this change being treated as urgent. We recommend ensuring that the obligation is set later than February so that it does not align with PAR implementation dates.

As requested by the community, this change request has been raised with the Data Standards Chair to be treated as urgent. This was approved by the Data Standards Chair and the change request will be labelled urgent with a consultation period of two weeks.

The decision proposal for Issue #325 regarding target state and transition considerations including future dated obligations is available here: 
[Decision Proposal 325 - Client Authentication Audience Claim.pdf](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/files/5472488/Decision.Proposal.325.-.Client.Authentication.Audience.Claim.pdf)

Consultation is open until 16th November 2020.

NAB is supportive of all the recommendations in the decision proposal #325. The standards need to be clear on how a list of values will be supplied - we only support Array of Strings.

Regional Australia Bank supports the recommendations of [the Decision Proposal](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/files/5472488/Decision.Proposal.325.-.Client.Authentication.Audience.Claim.pdf).

> The standards need to be clear on how a list of values will be supplied - we only support Array of Strings.

The standards are clear to me, either a string or an array can be supplied, it's defined in https://tools.ietf.org/html/rfc7519#section-4.1.3 and it would be a bad idea for Australia to deviate from the underlying standards given that both variants are commonly seen in use in other ecosystems.

Commonwealth Bank supports the recommendations of the decision proposal. 

Thanks all for the feedback. Based on the support for the change proposed, a decision will be taken to the Chair for approval.

Regarding the question on an array of string values, the CDS standards have no intention of defining an alternative representation. As @jogu pointed out, the way this is represented is in the upstream RFC. The CDS only considers a single audience value as typical for client authentication which can, per RFC7519, be represented as a single string value or an array of strings with one string value.

Decision 325 was approved by the Data Standards Chair on 8/12/2020. Due to this change request being treated as urgent, a version 1.6.0 of the data standards will be released to address this specific change. The remainder of the change requests from maintenance iteration 5 which had consensus of community approval will be summarised in a subsequent decision record representing the remainder of maintenance iteration 5 and a target 1.7.0 release.

A link to the final approved decision is attached:
[Decision 325 - Client Authentication Audience Claim.pdf](https://github.com/ConsumerDataStandardsAustralia/standards/files/5670082/Decision.325.-.Client.Authentication.Audience.Claim.pdf)

The changes to the technical data standards have been staged in standards-staging repository. The commit history is available here: https://github.com/ConsumerDataStandardsAustralia/standards-staging/pull/3


A change to the data standards was [approved by the Data Standards Chair for inclusion in v1.6.0](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/325#issuecomment-742215134). 

This issue will be closed accordingly.