Further specify ID Token encryption algorithms

# Description

ID Token encryption should be further specified to reduce a point of potential incompatibility between ecosystem participants and reduce implementation and configuration efforts on the part of data recipients.

# Area Affected
This affects those sections of CDS dealing with [ID Token encryption](https://consumerdatastandardsaustralia.github.io/standards/#id-token), the [OpenID Provider Configuration End Point](https://consumerdatastandardsaustralia.github.io/standards/#openid-provider-configuration-end-point), and the [JWKS End Point](https://consumerdatastandardsaustralia.github.io/standards/#json-web-key-set-end-point).

The detail of [JWA](https://tools.ietf.org/html/draft-ietf-jose-json-web-algorithms-40) (namely, sections 4.1 and 5.1) is highly pertinent to this issue.

# Change Proposed

Regional Australia Bank proposes the following in order of preference:
- **Option 1**. That the standards mandate in [CDS > Security Profile > Tokens > ID Token](https://consumerdatastandardsaustralia.github.io/standards/#id-token) that parties may only support small selection of the algorithms in JWA 4.1, specifically the ones with a `Recommended+` status. Further, it should probably be stated in [CDS > Security Profile > End Points > JSON Web Key Set End Point](https://consumerdatastandardsaustralia.github.io/standards/#json-web-key-set-end-point) that these keys for at least these algorithms must be supplied by the data holder as per [OIDC 10.2](https://openid.net/specs/openid-connect-core-1_0.html#rfc.section.10.2).
Additionally, the [CDS > Security Profile > Tokens > ID Token](https://consumerdatastandardsaustralia.github.io/standards/#id-token) section should state that Data Holders MUST ONLY support the content encryption algorithms marked _Required_ in [JWA 5.1](https://tools.ietf.org/html/draft-ietf-jose-json-web-algorithms-40#section-5.1), since there is no way for data recipients to communicate the optional or recommended ones they may support, 
- **Option 2**. The `id_token_encryption_alg_values_supported` and `id_token_encryption_enc_values_supported` options to become mandatory in the [OpenID Provider Configuration End Point](https://consumerdatastandardsaustralia.github.io/standards/#openid-provider-configuration-end-point), to facilitate enumeration of the algorithms that need to be supported by a Data Recipient in order to communicate with desired Data Holders. This is least preferred, because it allows data holders to unintentionally introduce breaking changes in the ecosystem.

## Rationale

Some recent discussion has been raised around the need for clarification of ID Token encryption, and we have provided our understanding in [another issue here](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/45#issuecomment-564336675). This request is based upon that understanding.

In the current non-prescriptive state of the standards, ID Token encryption algorithms are up to the various parties to select. This is a problem because it is possible for a standards-compliant pair of Data Holder and Recipient to be unable to establish consent connectivity because of mismatch in the algorithms they support.

For example, Data Holder `A` may only support `RSA-OAEP`, while Data Recipient `B` who wants to connect to Data Holder `A` only supports `ECDH-ES`. While both being standards compliant, they would be incompatible.

Data recipients will therefore be interested in how they can guarantee connectivity with all data holders of interest. If that is their goal, their only options are to support all algorithms or proactively maintain support for the algorithms chosen by data holders (It appears that data holders are not required to support any particular algorithm). This is the pain point which forms the basis of our proposal. This pain would be solved by mandating support for at least a small subset of algorithms which would allow Data Recipients to maintain universal support with minimum effort.

The same reasoning applies the the [content encryption (_enc_) options](https://tools.ietf.org/html/draft-ietf-jose-json-web-algorithms-40#section-5.1) with slightly less importance due to the smaller pool of algorithms.

## Alternative option
As an aside to these options, we think it is worth considering completely removing the requirement for ID Token encryption. In technical terms, this means that the absence of encryption keys in a Data Recipient's JWK Set effectively disables ID Token encryption for that DR-DH pair. Having mentioned this option, we will allow another party to specifically request it if desired, since we are not familiar with the rationale for mandating encryption in the first place.

We agree that ID token encryption should be further specified to reduce potential incompatibility between participants. We believe that this issue is urgent – it has been noted as a dependency in relation to [cdr-register issue 40](https://github.com/cdr-register/register/issues/40).

In relation to the relevant fields in [section 2 of the OIDC Dynamic Client registration specification](https://openid.net/specs/openid-connect-registration-1_0.html#rfc.section.2), we will support the following values:

* For the `id_token_encrypted_response_alg` client metadata value, these values from the list of allowed values in [section 4.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-4.1):
   * RSA-OAEP 
* If signing and encryption certificates provided by the data recipient via their JWKS endpoint are able to be elliptic curve certificates then we may additionally be able to support these id_token_encrypted_response_alg client metadata values:
   * ECDH-ES
   * ECDH-ES with AES-128 Key Wrap
   * ECDH-ES with AES-192 Key Wrap
   * ECDH-ES with AES-256 Key Wrap
* For the id_token_encrypted_response_enc  client metadata value, these values from the list of allowed values in [section 5.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-5.1):
   * A128CBC-HS256
   * A192CBC-HS384
   * A256CBC-HS512
   * A128GCM
   * A192GCM

@pcurtisrab The running assumption has always been that ADR's will support all required algorithms so that Holder's have the choice based on their internal policies. This has already led me to ask questions to attempt to limit the scope particularly around EC derivatives but to no avail. It seems reasonable to allow a relatively large list of combinations of signing and encryption methods as doing so somewhat mitigates the potential for heuristic predictability during sniffing operations such as, for instance, those that could occur by a state based actor with access to equipment at an infrastructure level.

On `id_token_encrypted_response_alg` the only specification in the FAPI profile is an explicit **exclusion** of algorithms based on RSAES-PKCS1-v1_5 and a forced requirement of `PS256` which as I understand it is essentially padded-RSA which is effectively RSA-OAEP. With that said the official [Australian Government Information Security Manual](https://www.cyber.gov.au/sites/default/files/2020-01/Australian%20Government%20Information%20Security%20Manual%20%28January%202020%29.pdf) explicitly states that AES and 3DES of various key lengths are the approved encryption algorithms. I would suggest, in the absence of more explicit guidance internationally that the Australian Competition and Consumer Commission adhere to the recommendations outlined by the Australian Signals Directorate via the Australian Cyber Security Centre.

The inclusion of ECDH response types and assuming I haven't got my wires crossed appears to be dependent on cdr-register/register#36 primarily because SSA's are being supplied by the Register and therefore they would need to support signing of Recipient's elliptic curve's. I have asked this question multiple times over the past 6 months but it appears to go into the ether...

Specifically regarding `id_token_encrypted_response_enc`. While FAPI specification does not deal with token encryption (in fact, there are very very few implementations using encrypted tokens so Australia is kind of playing with fire here) it does provide guidance on cipher suites in TLS land and relies exclusively on GCM based ciphers with AES128 and AES256 bit key lengths.

On this basis use of CBC based block ciphers is generally **not recommended** and is **unlikely** to ever be specified in the FAPI profile. @WestpacOpenBanking you may wish to reconsider offering of CBC based ciphers as this method has exposure to [padding oracle attacks](https://en.wikipedia.org/wiki/Padding_oracle_attack). I guess ultimately it's a risk based decision though.

I've asked some much more enlightened members of OIDF to potentially provide further comment.


Sounds like a fairly complicated topic. 

Can encryption be optional? If a data recipient doesn’t request any claims that contain PII data in the ID token, then encryption seems to be a massive overkill.

What’s proposed to be encrypted? First name / last name? Do we actually need these?

If we don’t consider this carefully, then data recipients might have to spend on additional build for no benefit. 

This will not help with the adoption.

> Sounds like a fairly complicated topic.
> Can encryption be optional? If a data recipient doesn’t request any claims that contain PII data in the ID token, then encryption seems to be a massive overkill.

This question has already been asked and rejected.

> What’s proposed to be encrypted? First name / last name? Do we actually need these?

Actually, not even that:
![image](https://user-images.githubusercontent.com/4291448/72804414-6bda6780-3ca4-11ea-88ac-c85049a729fa.png)

https://consumerdatastandardsaustralia.github.io/standards/#tokens

Pay specific note to _The ID Token returned from the Authorisation End Point MUST NOT contain any Personal Information (PI) claims._




Commonwealth Bank can support the following, 

Encrypt : A128CBCHS256
Key Wrap : RSA-OAEP


 

@cdradr Further footnote here, the latest update of [FAPI WG cds-spec-analysis](https://bitbucket.org/openid/fapi/src/master/cds-spec-analysis/) included a reference to signed versus signed and encrypted id tokens. Notable is that the number of available certified client implementations for signed and encrypted tokens appears to drop to 6 with zero written in .NET. Nonetheless the WG does not seek to force ecosystems to always deliver Signed-only ID Tokens, only to enforce Signing (which Signed+Encrypted does).

> @cdradr Further footnote here, the latest update of [FAPI WG cds-spec-analysis](https://bitbucket.org/openid/fapi/src/master/cds-spec-analysis/) included a reference to signed versus signed and encrypted id tokens. Notable is that the number of available certified client implementations for signed and encrypted tokens appears to drop to 6 with zero written in .NET. Nonetheless the WG does not seek to force ecosystems to always deliver Signed-only ID Tokens, only to enforce Signing (which Signed+Encrypted does).

@perlboy it could make sense for CDR to enforce signed and encrypted tokens or signed only.

Signed and encrypted makes sense if:
1) you have something to encrypt.. Encrypting “nothing” doesn’t make CDR more secure, but will lower adoption.

2) there are enough tools / libraries in the market that data recipients could use to support it. Can other data holders comment on this? Or no one is coding yet?

Data 61 at some point committed to produce model implementations for a data holder and a data recipient. Was it done?

@CDR-API-Stream, please confirm.


In the proposed change request, Option 2 by @pcurtisrab is the correct position. Because the underlying standards should be treated as normative and we require ID Token encryption the implication is that data holders must be broadcasting the algorithms they support to allow for negotiation with the ADRs. 

This wouldn't be a breaking change because it is the expectation that Option 2 is happening now. The documentation will be updated to make this explicit in the OIDC Configuration End Point documentation and non-normative example.

The expectation is that data holders will support a broad range of the encyrption algorithms specified in JWA (https://tools.ietf.org/html/draft-ietf-jose-json-web-algorithms-40). If data holders don't provide sufficient coverage the DSB reserves the right to mandate a base algorithm set in the future.

This change has been incorporated into [v1.3.0 of the standards](https://consumerdatastandardsaustralia.github.io/standards/includes/releasenotes/releasenotes.1.3.0.html#v1-3-0-release-notes).