Admin API - Clarification regarding authentication

# Request For Clarification
Admin API specification[1] states that the admin service may only be called by the CDR Register. Can you please clarify how the authentication process will happen in the above scenario?

[1] - [https://consumerdatastandardsaustralia.github.io/standards/#admin-apis](https://consumerdatastandardsaustralia.github.io/standards/#admin-apis)


Hi @imesh94 please refer to the [Client Authentication](https://consumerdatastandardsaustralia.github.io/standards/#client-authentication) section of the standards and the [CDR Register](https://cdr-register.github.io/register) standards for further info.

Hi,

The [Client Authentication](https://consumerdatastandardsaustralia.github.io/standards/#client-authentication) section states that "The JWT should be accepted from the client using the "Authorization Request Header Field" mechanism".

But in [Get Metrics](https://consumerdatastandardsaustralia.github.io/standards/#get-metrics) section or in the swagger specification for the Admin APIs, the Authorization header field is not present.

Can you please explain what should be the expected behavior of the implementation?

Hi, in addition to the above, can you please clarify the following?

According to [rfc6750](https://tools.ietf.org/html/rfc6750) the Authorization header field should contain an access token.
So, is the JWT mentioned in [Client Authentication](https://consumerdatastandardsaustralia.github.io/standards/#client-authentication) section used as an assertion by the cdr-register to call the token endpoint of the data holder, and obtain an access token?

Hi @imesh94 as discussed on the Data Holder Working Group call last week, the expected behaviour is related to the underlying normative standards. See [RFC6750 section 2.1](https://tools.ietf.org/html/rfc6750#section-2.1) for details on the "Authorization Request Header Field".

For the CDR Register connecting to the Get Metrics endpoint, the issuer is the CDR Register and their signed JWT will be presented in the Authorisation header as a bearer token. 

Note that the JWKS endpoint for the CDR Register is not publicly available - it will be supplied to Data Holders as part of the onboarding process with the CDR Register.

Hi @imesh94 if there are no more questions related to this query it will be closed in 7 days.