x-fapi-auth-date, Date, Time or DateTime?

# Request For Clarification
From `Get Accounts` `x-fapi-auth-date` is documented as `The time when the customer last logged in to the data recipient` but it is named x-fapi-auth-**date**
![image](https://user-images.githubusercontent.com/4291448/74800742-8c8bf080-5328-11ea-843d-57fe0bc37269.png)

Is this meant to be a DateTime string or was time only specified intentionally?



The usage of this field is derived from the normative standards (the FAPI read only profile which is the basis for the read/write profile).

Specifically in [section 6.2.2](https://openid.net/specs/openid-financial-api-part-1-ID2.html#client-provisions)
`3. may send the last time the customer logged into the client in the x-fapi-auth-date header where the value is supplied as a HTTP-date as in section 7.1.1.1 of [RFC7231], e.g., x-fapi-auth-date: Tue, 11 Sep 2012 19:43:31 GMT;`



Commonwealth Bank asks that the definitions and samples in the standards be updated to be consistent with @CDR-API-Stream 's answer that x-fapi-auth-date is of type HTTP-date.

> Commonwealth Bank asks that the definitions and samples in the standards be updated to be consistent with @CDR-API-Stream 's answer that x-fapi-auth-date is of type HTTP-date.

Further to this, the response of being a reference to section 6.2.2 ignores the fact this normative standard specifies that the `x-fapi-auth-date` field is a *may* designation while the CDR standards seek to make it mandatory.

@CDR-API-Stream, please provide an accurate description of this field as it appears to be modifying the normative standard you have referenced.


Hi, in order to close this off, is it possible to update description around this conditional x-fapi-auth-date from 

“The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.” 

to something like 

“The time when the customer last logged in to the data recipient. **(where the value is supplied as a HTTP-date as in section 7.1.1.1 of [RFC7231])** Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.”

Since the standard page is defining this field as a string, it is possible for some Data Holders to interpret this "string" value differently to what is written in RFC7231 as they might apply some other date time format standard to this field?

As stated, the type of this field is defined in the normative standard.  Reiterating specific clauses of normative standards is not good practice as this can effect maintenance as independent standards change over time.  As a result the DSB is not inclined to include the text suggested.  At most the description would be modified to explicitly refer to the FAPI Read profile.  This change would be redundant, however and would not change the meaning of the standard.

As observed in earlier feedback the only change that the CDR standards is making is to make this header mandatory for authenticated resource calls.  This position was adopted at the specific request of the Banks to aid their fraud checking systems.

Whether the description of the field is amended or not does not change the meaning of the standard.

It is the understanding of the DSB that an ADR that makes a resource request that is otherwise validly structured according to the standards, made using a valid authorisation and supplies an `x-fapi-auth-date` header that is correctly formatted according to the FAPI Read profile has met the requirements of CDR Rule 4.4 (3) (b)

> As stated, the type of this field is defined in the normative standard. Reiterating specific clauses of normative standards is not good practice as this can effect maintenance as independent standards change over time. 

You're right and yet redefining this clause is precisely what the Standards do. I feel this is a cake and eat it too situation. Either specifically modify the specification or remove all ambiguous redefinitions of it.

>As a result the DSB is not inclined to include the text suggested. At most the description would be modified to explicitly refer to the FAPI Read profile. This change would be redundant, however and would not change the meaning of the standard.

And yet it would because it is being made mandatory.

> As observed in earlier feedback the only change that the CDR standards is making is to make this header mandatory for authenticated resource calls. This position was adopted at the specific request of the Banks to aid their fraud checking systems.

Which is fine but the moment this was set to a mandatory header it arbitrarily modified the underlying Standard @CDR-API-Stream seeks to state is not being modified:

> **may** send the last time the customer logged into the client in the x-fapi-auth-date header where the value is supplied as a HTTP-date as in section 7.1.1.1 of [RFC7231], e.g., x-fapi-auth-date: Tue, 11 Sep 2012 19:43:31 GMT; and

One word change from a **may** to a **MUST** is a modification of the underlying Standard. While a paper architect might see it as a spell check it is a fundamental change to the exact sentence that defines it's format.

> Whether the description of the field is amended or not does not change the meaning of the standard.

If we are talking about CDS, sure, if we are talking about FAPI, the DSB **already** modified the Standard and then made the modification ambiguous enough that it led to confusion over whether it was a HTTP-date as specified in FAPI or _"time"_ as the current wording is.

> It is the understanding of the DSB that an ADR that makes a resource request that is otherwise validly structured according to the standards, made using a valid authorisation and supplies an `x-fapi-auth-date` header that is correctly formatted according to the FAPI Read profile has met the requirements of CDR Rule 4.4 (3) (b)

For context and historical referencing CDR Rule 4.4 (3) (b) states:
> (b) in accordance with the data standards.

And so consequently this last statement seems like a thinly veiled response of "We are the DSB and we set the Standards". You're right, you do, which is why ambiguity from the Standards needs to be clarified.

The FAPI Read Profile definition of `x-fapi-auth-date` is an **optional** inclusion of an explicit format. It seems the DSB has been caught by it's own ambiguity and yet is now responding as though it didn't make anything ambiguous in the first place.

Either:
1) Remove all references to `x-fapi-auth-date` and inherit from FAPI Read profile (at which point `x-fapi-auth-date` is an **optional** header
2) Explicitly define `x-fapi-auth-date` to be a **MUST** meeting the desired format because it can't be inherited from FAPI on the basis it ISN'T optional





Oh and, as a side note, this modification was noted in all previous versions of the [FAPI spec analysis](https://bitbucket.org/openid/fapi/src/master/cds-spec-analysis/) that OIDF supplied (and have been maintaining since) to the DSB and the Advisory Committee some 9 months ago.

_Preamble: Biza currently has 42 open issues within Standards Maintenance. In an effort to optimise our own backlog we are closing those which have no actual response from the DSB. They may be reopened at a later time or referenced when the issues are highlighted by third parties._

As the DSB has provided a confusing response and 1.3.0 does not incorporate a change to specifically align with FAPI we see no value in continuing to prosecute this. [Electronic Thumb uses](https://github.com/bizaio/thumb/blob/master/thumb-client/src/main/java/io/biza/thumb/util/ThumbUtil.java#L88) the FAPI compliant format aligned with the CDR DateTimeString.

