Access Token Type - Revocation End Point (CDS 1.3)

Hi

I have a question to do with the Revocation End Point and revoking Access Tokens. 
I note in the CDS [Standards]( https://consumerdatastandardsaustralia.github.io/standards/#end-points), under Revocation End Point, it states “Revocation of Refresh Tokens and Access Tokens MUST be supported”.

Generally an Access Token is not revoked by Authorisation Servers unless it’s a Reference Access Token, the other type being JWT Access Token.  Authorisation Servers usually store the Access Token when they issue a Reference Access Token and hence it can be revoked. This is different to a JWT Access Token, which generally stay active till they expire and are self-contained with relevant claims. This led me to believe the Access Token should be of Reference type. 

However, several sections of the relevant specifications indicate the Access Token is a JWT.

The [FAPI Standards](https://openid.net/specs/openid-financial-api-part-1.html#authorization-server), state in 5.2.2 – 15, “shall return the list of granted scopes with the issued access token”. This implies the use of a JWT Access Token.

The CDS [Standards](https://consumerdatastandardsaustralia.github.io/standards/#tokens), state “The Data Holder MUST indicate the lifetime in seconds of the access token in the expires_in field of the JSON object returned by the token end-point (see section 4.2.2 of [OAUTH2]).” The mention of JSON object indicate a JWT Access Token.

The CDS [Standards](https://consumerdatastandardsaustralia.github.io/standards/#end-points,) also state “Introspection of Access Tokens and ID Tokens MUST NOT be supported.” To use a Reference Access Token can involve the use of the Authorisation Server Introspection End Point. 

To confirm should Access Tokens under the CDS Standards be a Reference Access Token or a JWT  Access Token? And if they are supposed to be a JWT, do they need to be revoked as part of the CDS Standards Revocation End Point, noting my points above about them being self contained and not usually revocable. 


@cdswizard Can you point to a link/documentation that states that only reference (aka opaque) access tokens.

I am under the impression that both opaque and JWT tokens can be revoked. 

> The CDS Standards, state “The Data Holder MUST indicate the lifetime in seconds of the access token in the expires_in field of the JSON object returned by the token end-point (see section 4.2.2 of [OAUTH2]). The mention of JSON object indicate a JWT Access Token.” 

Never noticed this earlier and I am now inclined to come to the same inference - that there is an implicit expectation that the access token must be a JWT token.

This bring to my mind another question - > Does every authorization server out in the market support the generation of access token as a JWT token? I am not so sure (a year or two ago some products such as the IBM Security and Access Manager (ISAM) used to generate only opaque tokens. Not sure if things have changed.




The JSON Object referenced is the one described in 4.2.2 of OAUTH2 which is actually a "container" for the tokens (opaque or JWT), an example is further [up in the OAUTH2 spec](https://tools.ietf.org/html/rfc6749#page-31):
```
 HTTP/1.1 200 OK
     Content-Type: application/json;charset=UTF-8
     Cache-Control: no-store
     Pragma: no-cache

     {
       "access_token":"2YotnFZFEjr1zCsicMWpAA",
       "token_type":"example",
       "expires_in":3600,
       "refresh_token":"tGzv3JOkF0XG5Qx2TlKWIA",
       "example_parameter":"example_value"
     }
```

Specifically on the comment regarding FAPI 5.2.2, the sentence says _"shall return the list of granted scopes **with** the issued access token"_ . "With" involves shipping the `scope` parameter in the above token response. While I've never explicitly looked for it (cause I'm pro-JWT anyway) I don't believe FAPI mandates use of JWT's.

Regarding the reference to AT's and JWT's generally being non-revocable. This is true and the spec definitely leans towards use of JWT's over Opaque's however Access Token's [have a maximum lifetime](https://consumerdatastandardsaustralia.github.io/standards/#tokens) of 10 minutes so revocation is primarily a function of whether a refresh token continues to be accepted which is an interaction that occurs on the authorisation server and therefore would be subject to verification before AT issuance anyway.

I think the _general_ statement to say is that JWT's are _RECOMMENDED_ but ultimately Opaque can be used if desired albeit with the flow on impacts on needing to scale the introspection endpoint significantly and that endpoint needs to return the custom CDR parameters.

As for vendor support, I believe both Ping and ForgeRock support JWT natively. I suspect more "archaic" identity software doesn't.







@bmangalaganesh 
For example this article from [Identity ](http://docs.identityserver.io/en/3.1.0/topics/reference_tokens.html) Server (Just an example of an authorisation server), . 

Generally a JWT Access Token allows the receiving API to validate it without needs to contact the Authorisation Server, so even if the Authorisation Server somehow maintains a list of “revoked” JWT Access Tokens it would be reliant on the receiving API to call it to validate the JWT Access Token, at which time it would be alerted to the fact it was revoked. 
But Reference Access Tokens, by design force a receiving API to check the validity of the Reference Access Token by calling the Authorisation Server. 

Also read [rfc7009 ](https://tools.ietf.org/html/rfc7009)- 3.  Implementation Note which touches on this topic. 

@perlboy  in principle I agree that with the lifespan of a max of 10 min, and the ability to revoke a refresh token, it likely wont be an issue. However the CDS Standards specifically state the revoke endpoint must also revoke Access Tokens (not just wait for the 10 min to expire). 


> @perlboy in principle I agree that with the lifespan of a max of 10 min, and the ability to revoke a refresh token, it likely wont be an issue. However the CDS Standards specifically state the revoke endpoint must also revoke Access Tokens (not just wait for the 10 min to expire).

Valid point and worthwhile clarifying. 

Possibly another thing worth noting is that after revocation of an AT it is assumed that the associated access to consented resources are also revoked. Consequently even if the AT is not being verified each request (as per a JWT) the returned resources should be empty post revocation but before expiry.

Essentially, regardless of validity of a token the RS should be looking resource access is aligned with the defined consent ("arrangement"). Of course, this becomes much easier with a Consent API (or a [Grant Management API](https://bitbucket.org/openid/fapi/src/master/Financial_API_Grant_Management.md) as the case may be) but let's not open that can of worms in this thread.....




Westpac’s implementation is based on JWT access tokens. These are stateless and only checked by the resource server. Use of tokens of this type is currently implied by the CDS standards and the FAPI normative references [as cited](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/197) by @cdswizard. Mandating support for the revocation of access tokens is not aligned with this approach. RFC7009 [does not mandate support](https://tools.ietf.org/html/rfc7009#section-2) for this reason, and discusses this in the [implementation note](https://tools.ietf.org/html/rfc7009#section-3). We suggest that the statement “Revocation of Refresh Tokens and Access Tokens MUST be supported.” Is amended to align with RFC7009 “Implementations MUST support the revocation of refresh tokens and SHOULD support the revocation of access tokens” as an urgent matter. 

We were discussing this earlier today when a smart guy in the group pointed to us about FAPI-R (and FAPI-RW) [sections](https://openid.net/specs/openid-financial-api-part-1-ID2.html) in this area.

> 16. shall provide opaque non-guessable access tokens with a minimum of 128 bits of entropy where the probability of an attacker guessing the generated token is less than or equal to 2^(-160) as per [RFC6749] section 10.10;

This section also states the following:

> NOTE: The opaqueness requirement for the access token does not preclude the server to create a structured access token.

The specs does state that it builds on [FAPI-RW] and other standards relating to Open ID Connect 1.0 [OIDC].

Would be interested in hearing the broader team's views and thoughts.

Hi all, thanks for the input and detail in this issue.

There are a few questions raised in this thread. 
1. Should Access Tokens be JWT or opaque?
2. When a Data Recipient calls the Data Holder revocation endpoint, should an access token be explicitly revoked?
3. Should a Data Holder only validate an Access Token to allow a data request?

And in addressing those a couple of implications:  
&nbsp;&nbsp;4. Should the standards change the MUST statement for revocation of access tokens. This has been raised by @bmangalaganesh and @WestpacOpenBanking 
&nbsp;&nbsp;5. Should the standards allow for introspection of access tokens. This has been raised by @cdswizard 

@perlboy has a good summary of facts [here](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/197#issuecomment-618081254).

**Question # 1** The CDR standards do not endorse or imply any specific implementation pattern. The mechanism for the creation and use for tokens, unless explicitly stated, is a matter for the holder and should follow the normative standards.  As access tokens are issued by the holder and only ever interpreted by the holder the internal structure of these tokens are not dictated by the standards.

That said, there are requirements in the rules that address consent management and revocation and data sharing requests. Similarly in the data standards they address consent management and revocation as well as token management including how access tokens must be used.  

**Question # 2** Currently the standards state that access tokens must be revoked when a data recipient calls the token revocation endpoint. Feedback in this thread suggests that this be changed to a SHOULD. 

> An Access Token MUST expire between 2 minutes to 10 minutes after the Data Holder issues it (at the discretion of the Data Holder).

Currently an ADR must be able to revoke them (in a situation where fraud is identified or suspected for instance). It may not be desirable to revoke the refresh tokens or consent (because there is no option for recovery) but ADRs could also achieve this by deleting the access token in their session data store and/or flagging the consent as temporarily blocked.  

A change to align to normative standards would be reasonable. Even if this statement is changed to a SHOULD, it should not change what entitlements the data holder validates for a data request. This is addressed in Question 3 below.

**Question # 3** A Data Holder should not be solely relying on the validity of the access token a determinant of a valid consent. 

Primarily, the requirement is that data should not be shared if consent is revoked or if a data recipient’s accreditation is suspended or revoked. An approach that only checks the validity of a previously provided Access Token would be unlikely to meet all of the various requirements of the CDR regime. 

For instance, if an ADR receives an access token and within the lifespan of that token the customer revokes access from the data holder’s dashboard the resource server should immediately cease to share data and tokens should be revoked.  This is explicitly required via the statement in the CDR Arrangement Management API section:

> If the CDR Arrangement Management API is called for revocation, it MUST delete associated refresh and/or access tokens

**Clarification of other remarks**
@perboy alludes to revocation of consent on token revocation
> Possibly another thing worth noting is that after revocation of an AT it is assumed that the associated access to consented resources are also revoked. 

Token revocation should be used for managing the tokens rather than the consent itself. In essence the revocation of tokens will be the same as revoking consent because the data recipient no longer has a refresh token to request an access token to call an authenticated resource endpoint. However consent has its own lifecycle and can remain "active" but inaccessible when tokens are revoked.

[FAPI-R](https://openid.net/specs/openid-financial-api-part-1-ID2.html), which is CDR’s [normative reference](https://consumerdatastandardsaustralia.github.io/standards/#normative-references), prescribes the use of the opaque token: _“The authorization server shall provide opaque non-guessable access tokens with a minimum of 128 bits of entropy”_.

 

Commonwealth Bank’s understanding is that Data Holder’s authorisation server shall provide opaque access tokens.

> [FAPI-R](https://openid.net/specs/openid-financial-api-part-1-ID2.html), which is CDR’s [normative reference](https://consumerdatastandardsaustralia.github.io/standards/#normative-references), prescribes the use of the opaque token: _“The authorization server shall provide opaque non-guessable access tokens with a minimum of 128 bits of entropy”_.
> 
> Commonwealth Bank’s understanding is that Data Holder’s authorisation server shall provide opaque access tokens.

FAPI-R also states: _"NOTE: The opaqueness requirement for the access token does not preclude the server to create a structured access token."_

That is to say an AS is free to provide tokens as JWT's if it desires it just can't have an expectation that the receiver (ie. the Data Recipient) will actually understand them. In essence a JWT can be processed natively as a JWT or treated as Opaque. When they are presented at the resource server it is assumed the resource server **knows** in what format they were issued since it is controlled by the same party (ie. the Data Holder). 

Suffice to say, both JWT **or** truly Opaque tokens are entirely acceptable just don't expect a Data Recipient to read them as anything more than a magic string providing access.



Oh, and somewhat related, this thread is touching on an area of a few flame wars regarding opaque vs. JWT and sessions versus stateless. Sven Slootweg published some pretty interesting [thoughts way back in 2016](http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/) on this.

Fundamentally it's a bit of a religious battle between whether tokens should or should not contain what many see as a "business logic" versus what infrastructure folk would see as "stop abusing my server". I'm a crusty Linux guy who's faced his fair share of 3am "That $!#*ing Dev Team" inflicted denial of services so I opt for the latter but to each their own I guess!

Noting that in the [previous DSB response](https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/197#issuecomment-620935752), we had provided commentary around the MUST vs SHOULD for access token revocation. Presently the data standards require that DHs MUST support access token revocation. 

@cdswizard / @WestpacOpenBanking if there is a strong recommendation to change this statement to a SHOULD for access token revocation (per [RFC7009](https://tools.ietf.org/html/rfc7009#section-2)) the DSB would welcome a change request be made to address this. At this stage it is expected that DHs will support access token revocation for the reasons previously provided.

This issue has been answered in a sparate issue #240. Accordingly, the issue is closed.