Update claims permitted in Token Introspection

# Description
Currently, the documentation on the introspection endpoint only allows for "exp" and "active" claims. The introduction of concurrent consent requires the ``cdr_arrangement_id`` to be included in the introspection JSON response. The reason this is not in the ID Token is because it's related to the authorisation not the user context. This change will be included in release v1.4.0 to address Question 1 in #254. 

[RFC7662](https://tools.ietf.org/html/rfc7662) allows for other claims to be returned in the token introspection response however the ACDS limits the list of claims. This may add complexity to out-of-the-box implementations as well as limiting the value of optional claims in the introspection response. This constrains the claims returned by the Token Introspection endpoint when it doesn't need to or intended to. 

Additionally, DHs and ADRs have no way to discover what scopes were negotiated between the ADR and the DH. Because DHs can validly ignore scopes requested in an authorisation request (e.g. unsupported scopes requested), the set of the authorised scopes may be a subset of what the ADR requested. Calling the token endpoint will generate new tokens when called, so using the token introspection endpoint is an accepted way to inspect the details of a given authorisation.

# Area Affected
The [Token Introspection end point](https://consumerdatastandardsaustralia.github.io/standards/#introspection-end-point)

# Change Proposed
Three changes are proposed:
1. Remove limiting constraints and rely on normative standard RFC7662
2. Require ``scope`` claim to ensure ADRs obtain the authoritative set of scopes authorised
3. Require ``username`` if provided is the same value as the ``sub`` claim not the user's Internet Banking username/ customer ID

The changes to the token introspection endpoint would be as follows:

> An Introspection End Point Response SHALL include, at least, the following fields:
> * ``active``: Boolean indicator of whether or not the presented token is currently active.
> * ``exp``: A JSON number representing the number of seconds from 1970-01-01T00:00:00Z to the UTC expiry time.
> * ``scope``: A JSON string containing a space-separated list of scopes associated with this token.
> * ``cdr_arrangement_id``: A unique identifier of the CDR arrangement related to the authorisation.
>
> An Introspection End Point Response MAY include claims defined in Section 2.2 of [RFC7662]. If ``username`` is provided it MUST be the value provided in the ``sub`` claim.

This change would have implementation impacts, and thus, a future dated obligation. If supported, it is currently proposed that a February 2021 future obligation date would apply. Feedback is welcome both on the substance of the changes proposed as well as obligation dates and transition considerations. 


The `active` field of token introspection endpoint indicates whether the token supplied is active or not.  So when presented with a refresh token and if active then it only indicates the supplied refresh token is active.  It does not indicate anything about the status of the cdr_arrangement_id that's being returned.  It is possible that a consent is still active but the supplied refresh token is inactive.  Assuming the introduction of cdr_arrangement_id here is to only support the use-case of identifying the arrangement ID that's associated to the supplied refresh token.

Introspection returns a JSON not a JWT.

Hi @spikejump,

> The ``active`` field of token introspection endpoint indicates whether the token supplied is active or not. 

This is true. Currently in the ACDS, consent status is inferred via the status of the refresh token.

> Assuming the introduction of cdr_arrangement_id here is to only support the use-case of identifying the arrangement ID that's associated to the supplied refresh token.  

That's correct.

> Introspection returns a JSON not a JWT.

Thanks @perlboy this has been corrected in the issue.

HI,

Could i check my understanding of point 2 in this issue as i believe that FAPI Security already addresses point 2.

https://bitbucket.org/openid/fapi/src/master/Financial_API_WD_001.md An Authorization server is required to return the list of scopes that are were authorised as part of the token exchange if the scope list was not the same as what was requested by the TPP. i.e if a PSU explicitly deselects (or adds) a scope then the list of scopes must be returned as part of token exchange. FAPI 1 also addresses the use case where the scope list could be altered in transit, such as if the request was not integrity protected.

Generally, the access token's audience is meant to be a resource server not a client. An id_token's audience is meant to be the client and not the resource server. Typically access tokens are opaque to the clients and may require additional claims in order for the resource server to enforce access control or provide data that shouldn't be shared outside of a Banks security domain. The UK standard leverage the OIDC id_token and userinfo endpoints to convey consent claim information to TPPs because its a document and endpoint that is meant for consumption by a client.

An id_token can be introspected again and perhaps putting this claim in the id_token would be more appropriate for this claim?



Having recently gone through this myself, I do feel there are gaps in the UX. It's very difficult, for example, for me to view/manage/understand my concurrent arrangements at the ADR side because there's no ability to introspect my arrangements.

- As mentioned in the issue, as an ADR I can only determine requested scopes and not actual scopes.
- When specifying a cdr_arrangement_id, it is a requirement that the username authenticated matches that in the existing arrangement. It is very difficult to remember which username I originally authenticated with at the DH if I have more than one login.
- A second call to getAccounts is required to understand which accounts were consented.

> The `active` field of token introspection endpoint indicates whether the token supplied is active or not. So when presented with a refresh token and if active then it only indicates the supplied refresh token is active. It does not indicate anything about the status of the cdr_arrangement_id that's being returned. It is possible that a consent is still active but the supplied refresh token is inactive. Assuming the introduction of cdr_arrangement_id here is to only support the use-case of identifying the arrangement ID that's associated to the supplied refresh token.

Throwing it out there: Would it be more appropriate to have the CDR Arrangement endpoint support introspection, where we could introspect an arrangement id instead?

> Would it be more appropriate to have the CDR Arrangement endpoint support introspection, where we could introspect an arrangement id instead?

We had a similar question as posted in Question 4 of #254.  This proposal would solve it.

Hi @RalphBragg 

> An Authorization server is required to return the list of scopes that are were authorised as part of the token exchange if the scope list was not the same as what was requested by the TPP. 

That's correct. At the moment the ACDS limits the list of claims returned in the Introspection end point. This CR seeks to address that issue and make it clear that the scope claim be returned.

> An id_token can be introspected again and perhaps putting this claim in the id_token would be more appropriate for this claim?

The intention was to keep authorisation details out of the OIDC ID Token. https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/254#issuecomment-671738831 as further details/ context.


Commonwealth Bank agrees with @RalphBragg that identity information should belong to ID tokens. Additionally consent/authorisation details should belong to consent API (sharing arrangement API/grant management API). We prefer not to customize introspection of refresh tokens any further.

I see diminishing return in trying to articulate to the government about the chosen approach. What I'm fundamentally confused about is why the DSB continues to persist with not one, but two. substandard solutions rather than freezing the currently live implementation in place and instead embarking on a sustainable and long term solution to arrangement/consent/sharing/whatever-term-we-are-using-today.

It is inevitable additional requirements will come about (in fact, they already have) and the half baked "solutions" in place now, spread as they are across multiple tweaks to underlying standards or outright mixing of security domains, are unlikely to meet the clearly forseeable future. Considering this proposal is already discussing February 2021 continuing down this path seems fruitless.

Recommendations have been (and, to a diminishing extent continue to be) made by numerous international experts in this field. I don't see how value could be added by responding to a proposal that seeks to continue to deliberately tweak commonly accepted endpoints to counteract a lack of proprietary feature set (that is still being changed #135).


Why is username required?

> Why is username required?

It's not, the change is to hardwire `username` (if it is supplied) to `sub`.

> > Why is username required?
> 
> It's not, the change is to hardwire `username` (if it is supplied) to `sub`.

The change proposed doesn’t make sense. Just trying to understand the objective here...

> The change proposed doesn’t make sense. Just trying to understand the objective here...

Refer to the first paragraph of my prior response. 🤷‍♂️ 

Agree with @cdradr @perlboy it doesn't seem to make sense to change `username` to `sub`.

The intention here is to provide better alignment to the underlying RFC such that optional claims aren't excluded. Based on feedback, it would be more suitable to disallow the ``username`` as an allowed claim, rather than making it the ``sub`` value.

A change to the data standards was [approved by the Data Standards Chair for inclusion in v1.5.0](https://github.com/ConsumerDataStandardsAustralia/standards/issues/134). 

This issue will be closed accordingly.